<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        .headerNav{
            position:fixed;
            top:0;
            display:flex;
            justify-content: flex-end;
            width:100%;
            padding:5px;
            background-color: white;
            border-bottom: 1px solid #eee;
        }

        .headerNav a {
            margin: 5px 10px 0px;
        }
    </style>
</head>
<body>
    <nav class="headerNav" id="headerNav">
        <a href="/feed"><img src="/images/icons/home_icon.png" alt="Feed" width="30" /></a>
        <a href="/upload"><img src="/images/icons/plus_icon2.png" alt="Upload" width="30" /></a>
        <a href='/profile'><img src="/images/icons/profile_icon3.png" alt="Profile" width="31" /></a>
    </nav>
</body>
